@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

:root {
    --lead: #212121;
    --gold-finger: #ff5106;
    --bg-hover: rgb(255, 125, 3);
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
    --bg-ham-color: #003324;
    --bg-icon-color: #095f45;
}

body {
    background-color: var(--eye-ball);
}

/* Basic styling */
a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--pure-white);
}
a:hover {
    color: var(--bg-hover);
}
.logo img {
    width: 90px;
} 

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li {
   list-style: none; 
}
.between {
    justify-content: space-between;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.wrappeer {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}

.image-container img {
    max-width: 100%;
    margin: auto;
    height: auto;
    display: block;
}

.service {
    background: var(--bg-icon-color);
}
.p-top {
    padding-top: 5rem;
}

.text-center {
    text-align: center;
    
}

/* Header styling */

.navbar {
    max-height: 14vh;
    background-color: #262525;
    padding: 1rem;
    flex-wrap: nowrap;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
}

.btn {
    display: inline-block;
    padding: .9rem 1rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: 0 2px 1px rgba(255, 81, 6, 0.8);
}

.btn:hover {
    background: var(--bg-hover);
    color: var(--pure-white);
}

.cart-icon {
    color: var(--pure-white);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--bg-hover);
    text-align: center;
    line-height: 20px;
}

.desc-action .hamburger {
    font-size: 1.5rem;
    display: none;
}

.mobile-desc-menu {
    display: none;
}
/* Section styling */

.hero-section {
    background-color: var(--bg-ham-color);
    min-height: calc(100vh - 14vh);
}

.container, 
.image-container {
    flex: 1;
    flex-basis: 300px;
}

h1 {
    font-size: 5.6vw;
    margin-left: 40px;
    color: var(--gold-finger);
}

h1 span {
    color: #fcf1cc;
}

.container div {
    margin-left: 40px;
}

p {
    font-size: 1.25rem;
    color: var(--hint-yellow);
    line-height: 1.8rem;
    font-weight: 400;
    margin-left: 40px;
}
.para {
    margin-block: 2rem;
    max-width: 550px;
}

.container .btn {
    margin: 10px;
    border-radius: 20px;
}

.social-icon {
    background: var(--hint-yellow);
    color: var(--lead);
    box-shadow: 2px 4px 3px rgba(115, 106, 102, 0.9);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    transition: .3s ease-in-out;
}

.social-icon:hover {
    background: var(--bg-icon-color);
    color: var(--hint-yellow);
}
/* Footer styling */

/* Media query */

@media  screen and (max-width: 780px) {
    
    /* header */
    .navlist, .desc-action .btn {
        display: none;
    }

    .desc-action .hamburger {
        display: block;
    }

    .mobile-desc-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--bg-ham-color);
        border: .1rem solid var(--gold-finger);
        border-radius: 1rem;
        box-shadow: 8px 8px 8px rgba(255, 81, 6, 0.7);
        transition: all .5s ease-in-out all;
    }

    .mobile-desc-menu {
        left: 50%;
        transform: translateX(-50%);
    }

    /* section */

    h1 {
        font-size: 3.6rem;
    }

    .container {
        padding-top: 3rem;
    }

    .gap-2 {
        gap: 1.4rem;
    }

    .gap-4 {
        gap: 4rem;
    }
}