@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

:root {
    --lead: #212121;
    --gold-finger: #ff5106;
    --bg-hover: rgb(255, 125, 3);
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
    --bg-ham-color: #003324;
}

body {
    background-color: var(--eye-ball);
}

/* Basic styling */
a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--pure-white);
}

.logo img {
    width: 100px;
} 

.flex {
    display: flex;
    align-items: center;
}

li {
   list-style: none; 
}
.between {
    justify-content: space-between;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.wrappeer {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}

/* Header styling */

.navbar {
    min-height: 14vh;
    background-color: #262525;
}

.btn {
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: 0 2px 1px rgba(255, 81, 6, 0.8);
}

.btn:hover {
    background: var(--bg-hover);
}

.cart-icon {
    color: var(--pure-white);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--bg-hover);
    text-align: center;
    line-height: 20px;
}

.desc-action .hamburger {
    font-size: 1.5rem;
    display: none;
}

.mobile-desc-menu {
    display: none;
}
/* Section styling */

/* Footer styling */

/* Media query */

@media  screen and (max-width: 780px) {
    
    .navlist, .desc-action .btn {
        display: none;
    }

    .desc-action .hamburger {
        display: block;
    }

    .mobile-desc-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--bg-ham-color);
        border: .1rem solid var(--gold-finger);
        border-radius: 1rem;
        box-shadow: 8px 8px 8px rgba(255, 81, 6, 0.7);
    }
}