* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000430;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin: 120px auto 0 auto;
    flex-direction: column;
    max-width: 500px;
    
}

.stats-container {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #4173F2;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}
.details {
    width: 100%;
}
#progressBar {
    width: 100%;
    height: 10px;
    background-color: #263097;
    border-radius: 5px;
    margin-top: 20px;
}
#progress {
    width: 80%;
    height: 10px;
    background-color: #4173F2;
    border-radius: 10px;
    transition: all 0.3s ease;
}
#numbers {
    width: 100px;
    height: 100px;
    background-color: #4173F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
}
input {
    padding: 16px;
    flex: 1;
    background: #2b34a1;
    border: 2px solid #4173F2;
    border-radius: 10px;
}
button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4173F2;
}